<!--  Angular uses a special HTML element, router-outlet, to display the components selected by the routing configuration
      in app-routing.module.ts, we have for no path, a redirection to "store" that calls the class in productselection.component.ts

       { path: "store", component: ProductSelectionComponent },
       { path: "", redirectTo: "/store", pathMatch: "full" }

      In productSelection.component.html, we have:
        <store-cartsummary></store-cartsummary>
        <blazor></blazor>
          <store-categoryfilter></store-categoryfilter>

          <store-product-list></store-product-list>
          <store-pagination></store-pagination>
-->
<!--  Prior:
  <category-filter></category-filter>    ... selector in categoryFilter.component.ts
  <product-table></product-table>        ... selector in productTable.component.ts
-->

<div class="bg-danger text-white text-center p-2 m-2" *ngIf="error != null">
  <h6 *ngFor="let e of error">{{e}}</h6>
  <button class="btn btn-warning" (click)="clearError()">OK</button>
</div>

<!--<router-outlet></router-outlet>-->

<app-nav-bar></app-nav-bar>
<app-section-header></app-section-header>

<div class="container" style="margin-top: 1px;">
  <router-outlet></router-outlet>
</div>

